::placeholder{
  text-align: center;
  font-size: 14px;
  color: gray;
  background-position: 35%;
  background-size: 6%;
  background-image: url('../assets/search-solid.svg');
  background-repeat: no-repeat;
}

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background-color: #FAFAFA;
}

.postuserfont {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  color: black;
}


.storyphoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(238, 39, 82);
  margin-right: 7px;
}

.storytext {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: black;
}

.rightpanellinks {
  text-decoration: none;
  color: lightgray;
}

.rightpanel {
  color: white;
  border: none;
  position: sticky;
  top: 90px;  
  right: 0;
}

.body {
  padding-top: 80px;
}

.logo{
  padding-left: 192px;
}

.form-inline {
  display: flex;
  justify-content: center;
}

.form-inline .empty {
  margin-left: 5px;
}

.card {
  margin-top: 15px;
  offset: 4px;
}

.container {
  max-height: 200px !important;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card-body a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.mt-2 {
  margin-left: auto;
}

.paylas {
  margin-left: auto;
}

.yorumekle {
  margin-right: auto;
}

.card-body1  {
  background-color: white;
  
}

.card-body1 .nav-link {
  margin-left: 15px;
}

.oneriler {
  justify-content: space-between;
  align-items: center;
}

.oneriler .postuserfont.mt-1{
  float: right;
}

.postuserfont .takipet {
  float: right;
}

